.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(221, 221, 221);
  border: 1px solid black;
}

.game-info {
  margin-bottom: 10px;
}

.game-field {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(3, 30px);
}

.cell {
  background-color: white;
}
.cell--win {
  background-color: rgb(247, 199, 199);
}

.symbol {
  font-size: 20px;
  font-weight: 600;
}
.symbol--x {
  color: red;
}
.symbol--o {
  color: green;
}

.reset {
  margin: 10px 0;
  padding: 3px 10px;
  background-color: rgb(254, 198, 95);
  border: 1px solid orange;
  border-radius: 7px;
}
